{% extends 'base.html' %}

{% block content %}
 
     {% for recipe in recipes %} 
     <div class="row">
     <div class="col-12 col-sm-6 col-md-3 col-lg-3">
<div class="card-container">
  <div class="card u-clearfix">
    <div class="card-body">
      <span class="card-number card-circle subtle"></span>
      <span class="card-author subtle"><strong>Allergies:</strong><br> {{recipe.recipe_allergens}}</span>
      <h2 class="card-title"> {{ recipe.recipe_name }}</h2>
      <span class="card-description subtle"><strong>Ingredients:</strong><br>  {{ recipe.recipe_ingredients}}</span>
      <button onclick="myFunction()">More...</button>
      <div id="myDIV"> {{ recipe.cooking_steps }} </div>
    </div>
    <img class="recipe_image" src="{{ recipe.recipe_image}}">
  </div>
  <div class="card-shadow"></div>
</div>
</div>

{% endfor %}

<script>
function myFunction() {
    var x =
  document.getElementById("myDIV");
  if (x.style.display ==="none")  
  {
      x.style.display = "block";
  }   else {
      x.style.display = "none";
  }
}
</script>

 {% endblock %}