{% extends 'base.html' %}

{% block content %} 
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://images.pexels.com/photos/1437600/pexels-photo-1437600.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500alt=">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Eat better. Every day.</span>
            <span class="section-heading-lower">Cuisines</span>
          </h2>
          <p class="mb-3">Food provides a natural way to explore other countries and cultures. After all, food is a major component of many cultural celebrations, holidays and gatherings all over the world.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="https://www.ef.com/wwen/blog/language/culinary-tour-around-the-world/" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">Explore classic recipes from around the world and try new cuisines. Take Mexican beyond fajitas and Italian beyond pasta with our top recipes. Or simply make the best known Cocktails to impress anyone.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}