{% extends 'base.html' %}

{% block content %}

 <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Cocktails from around the World you need to try</span>
              <span class="section-heading-lower">Mixed to Perfection</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://images.pexels.com/photos/3407778/pexels-photo-3407778.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">
              The drinks menu at your favourite local bar is no doubt full of signature cocktails, but have you ever wondered where they came from? Find out the story behind Spain’s sangria and the history of the Pimm’s cup with Culture Trip’s guide to classic cocktails.</p>
             <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="https://theculturetrip.com/north-america/usa/articles/11-signature-cocktails-around-world/" target="_blank">Trip's guide</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Because when you want a margarita, you should know how to make a good one.</span>
              <span class="section-heading-lower">The old Classics</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://images.pexels.com/photos/989699/pexels-photo-989699.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">24 Classic Cocktails You Need to Know How to Make</p>
             <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="https://www.bonappetit.com/drinks/cocktails/slideshow/classic-cocktail-recipes" target="_blank">Get Inspiration here</a>
          </div>
          </div>
         
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">From Around the World</span>
              <span class="section-heading-lower">The best Bars</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://images.pexels.com/photos/3329718/pexels-photo-3329718.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Want to visit the world's best bars to find the best cocktails on earth and where to drink them, from classic cocktails to stunning creations.But enough chat – it’s drinking time. Here are the 36 cocktails around the world that you have to try.</p>
             <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="https://www.bonappetit.com/drinks/cocktails/slideshow/classic-cocktail-recipes" target="_blank">Bottoms Up!</a>
          </div>
          </div>
          </div>
        </div>
      </div>
  </section>

 {% endblock %}