{% extends 'base.html' %}

{% block content %}
 <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://images.pexels.com/photos/872891/pexels-photo-872891.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                <span class="section-heading-lower">A Quick Guide to Speciality Coffees</span>
              </h2>
              <p>Have you ever heard someone order a macchiato or ristretto in the coffee shop queue and wondered what it was? Don’t know a doppio from a mocha? Never fear, help is at hand with our quick guide to speciality coffees below.</p>
            <div class="container jumbotron py-5">
              <ul>
                  <li>Espresso – The base from which all speciality coffees are made – Hot water is forced through finely ground coffee to produce a maximum of 1 to 1.5 fluid ounces of beverage.</li>
                  <li>Doppio – A double shot of espresso. (doppio is Italian for double)</li>
                  <li>Crema – Thus is the golden head of the espresso, which is made of the oils extracted from the coffee during the brewing process.</li>
                  <li>Espresso Con Panna – A shot of espresso topped with whipped cream.</li>
                  <li>Romano – Espresso served with a twist or slice of lemon.</li>
                  <li>Ristretto – A restricted or short shot of espresso for an intense espresso taste.</li>
                  <li>Macchiato – Espresso with a small amount of steamed milk dappled on top to give a spotted effect.</li>
                  <li>Cappuccino – One shot of espresso, one part steamed milk, one part foamed milk with an optional dusting of chocolate or cinnamon.</li>
                  <li>Mocha – Cappuccino with a shot of chocolate sauce or syrup.</li>
                  <li>Americano – A standard sized cup of coffee made by dispensing a double espresso into hot water. Add milk to taste.</li>
                  <li>Latte – One shot of espresso mixed with steamed milk.</li>
                  <li>With Wings – A term used to ask for a take-away drink e.g. a cappuccino with wings (originates from the early take-out paper cups which had folding paper handles resembling wings)</li>
                  <li>Lungo – Meaning long in Italian e.g. Espresso Lungo, a long espresso with more hot water.</li>
                  <li>Corretto – Means corrected or laced with an alcoholic spirit or liqueur.</li>
                  <li>Dry – A cappuccino with no steamed milk – just foamed milk.</li>
                  <li>Flavoured – A latte or cappuccino with a dash of flavoured syrup added such as vanilla, hazelnut, mint, almond or many others.</li>
              </ul>
            </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 {% endblock %}